<template>
  <div>
    <button @click="dec()">-</button>
    <span>{{count}}</span>
    <button @click="inc()">+</button>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'inc',
  computed: {
    count () {
      return this.$store.getters.count
    }
  },
  methods: {
    ...mapMutations({
      inc: 'incCount',
      dec: 'decCount'
    })
  }
}
</script>

<style lang="styl">

</style>
