<template>
  <div>
    <ul>
      <li v-for="name in names">
        <span v-text="name"></span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'names',
  data () {
    return {
      names: []
    }
  },

  created () {
    this.$http.get('/data').then(response => {
      this.names = response.body.names
    })
  }
}
</script>

<style lang="css">
</style>
